# Configurações do Servidor
PORT=3000

# Chave secreta para a sessão do Express-Session
SESSION_SECRET=coloque_uma_chave_secreta_e_longa_aqui

# Caminho do Banco de Dados (opcional se for padrão)
DATABASE_URL=database/database.db
